<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archive Server</display-name>
  <servlet>
      <servlet-name>StartArchiving</servlet-name>
      <servlet-class>org.enterpriseaws.archive.StartArchiving</servlet-class>

  </servlet>
  <servlet-mapping>
      <servlet-name>StartArchiving</servlet-name>
      <url-pattern>/startArchiving</url-pattern>
  </servlet-mapping>
</web-app>